/* ========================= PENGATURAN DASAR HALAMAN ========================= */ 
BODY { FONT-FAMILY: ARIAL,HELVETICA, SANS-SERIF; 
        FONT-SIZE: 16PX; 
        LINE-HEIGHT: 1.7; 
        BACKGROUND-COLOR: #F4F4F4; 
        COLOR: #333333; 
        MARGIN: 0; } 
        /* =========================

HEADER ========================= */ 
HEADER { 
    BACKGROUND-image: linear-gradient(to bottom, purple, pink); 
    COLOR: grey; 
    TEXT-ALIGN: CENTER; 
    PADDING: 30PX; } 

HEADER H1 { 
    FONT-SIZE: 35PX; 
    FONT-WEIGHT: BOLD; 
    MARGIN-BOTTOM: 5PX; } 
    
.PROFESI { 
    FONT-SIZE: 18PX; 
    FONT-WEIGHT: NORMAL; 
    COLOR: RGBA(255, 255, 255, 0.85); } 
    
.FOTO-PROFIL { 
    WIDTH: 150PX; 
    HEIGHT: 150PX; 
    BORDER-RADIUS: 10%; 
    BORDER: 4PX SOLID rgb(136, 85, 85); }

/* ========================= KONTEN UTAMA ========================= */ 
MAIN { 
    WIDTH: 80%; 
    MARGIN: 30PX AUTO; 
    BACKGROUND-COLOR: WHITE; 
    PADDING: 30PX; } 
    
SECTION { 
    MARGIN-BOTTOM: 30PX; } 

H2 { 
    COLOR: #7871b1; 
    FONT-SIZE: 23PX; 
    BORDER-BOTTOM: 2PX SOLID #5549bd; 
    PADDING-BOTTOM: 5PX; } 

P { 
    COLOR: brown;
    FONT-SIZE: 18PX; 
    TEXT-ALIGN: JUSTIFY; } 

UL { LINE-HEIGHT: 1.8; }

/* ========================= HYPERLINK ========================= */ 
A { 
    COLOR: #5549bd; 
    TEXT-DECORATION: NONE; }

A:HOVER { 
    TEXT-DECORATION: UNDERLINE; }
    
/* ========================= FOOTER ========================= */ 
FOOTER { 
    BACKGROUND-image: linear-gradient(to bottom, purple, pink); 
    COLOR: rgb(253, 253, 253); 
    TEXT-ALIGN: CENTER; 
    PADDING: 15PX; } 

FOOTER P { 
    TEXT-ALIGN: CENTER; 
    FONT-SIZE: 14PX; }